<div class="row">
  <div class="col">
    <form #f=ngForm (ngSubmit)="save(f)">
      <table class="table table-bordered">
        <tr class="alert alert-info" *ngIf="message !== ''">
           <td colspan="2" >
            {{message}}
           </td> 
        </tr>
        <tr>
          <td>Id :</td>
          <td><input type=text name=id [(ngModel)]=newStudent.id required class="form-control" /></td>
        </tr>
        <tr>
            <td>Name :</td>
            <td><input type=text name=name [(ngModel)]=newStudent.name required class="form-control" /></td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-info" *ngIf="! isUpdate">Save</button>
            <button class="btn btn-info" type="button" (click)="update()" *ngIf="isUpdate">Update</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-header bg-info">
            Student List
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>        
              </thead>
              <tbody>
                <tr *ngFor="let student of studentList">
                  <td>{{student.id}}</td>
                  <td>{{student.name}}</td>
                  <td>
                    <button class="btn btn-success m-1" (click)="edit(student.id)">Edit</button>
                    <button class="btn btn-danger m-1" (click)="delete(student.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
