<div class="row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6">
    <button class="btn btn-info" #items (click)="showList()">Number of Items in Cart: </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 p-1" *ngFor="let product of productList;let i=index">
     <div class="card bg-dark text-white">
        <div class="card-header">
          {{product.name}}
        </div> 
        <div class="card-body">
          <img src="../assets/fruits/{{product.code}}.jpg" width=100px height=100px />
        </div>
        <div class="card-footer">          
          <table>
            <tr>
              <td>
                  {{product.price}} Rs.          
              </td>
            </tr>
            <tr>            
              <td>
                <button class="btn btn-sm btn-danger" (click)="addToCart(product)">Add To Cart</button>
              </td>
            </tr>
          </table>
          
        </div>
     </div>
  </div>
</div>

