<div class="container">
   <div class="row">   
    <div class="col-sm-12">
            <h1>{{title}}</h1>
    </div>
   </div>     
   <div class="row">
        <div class="col-sm-6">
            <app-message></app-message>
        </div>
        <div class="col-sm-3">
            <app-message></app-message>
        </div>
        <div class="col-sm-3">
            <app-message></app-message>
        </div>
   </div>
   <div class="row">
        <div class="col-sm-4">
             <app-personal-details></app-personal-details>   
        </div>
        <div class="col-sm-8">
            <app-skill-detail></app-skill-detail>
        </div>
   </div>
   <div class="row">
        <div class="col-sm-8">
            <app-education-detail></app-education-detail>
        </div>
   </div>
</div>